.contact-form {
    max-width: 40rem;
    margin: 0 auto;
    .contact-container,
    .selection {
        width: 75%;
        max-width: 25rem;
        margin: 0 auto 1.5rem;
    }

    .contact-input {
        width: 100%;
    }
    
    // Error Messages
    
    span.wpcf7-not-valid-tip{
        margin-top: 0.5rem;
        color: $dark-grey;
        text-align: center;
    }

    .ajax-loader {
        display: block;
        margin: 0.5rem auto 0;
    }

    .wpcf7 form.sent .wpcf7-response-output, .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
        border: 0;
        text-align: center;
        border-radius: 0.25rem;
        padding: 1rem 0.5rem;
        margin: 0 auto;
        color: $dark-grey;
        max-width: 25rem;
    }

    .wpcf7 form.sent .wpcf7-response-output {
        background: $soft-pink;
    }

    .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
        background-color: $red-pink;
    }
}

.hide-other {
    display: none;
}

#selection {
    width: 20rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}