html {font-size: 100%;} /*16px*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
	line-height: 1.5;
    background-color: $white;
}

// Clamps should reach their max sizing at 800px

h1 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    line-height: 3rem;
    margin-top: 0;
    color: $dark-grey;
}

h2 {
    font-size: clamp(1.125rem, 4vw, 2rem);
    line-height: 1.5rem;
    color: $dark-grey;
    text-transform: uppercase;
}

h3 {
    font-size: clamp(1rem, 3vw, 1.5rem);
    line-height: 1.5rem;
    color: $dark-grey; // Using as a default color, that fits with the h1 and h2
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

p,
label,
bdi {
    font-size: clamp(0.875rem, 2.25vw, 1.125rem);
    line-height: 1.5rem;
    margin-top: 1.5rem;
    max-width: 75ch;
    margin: 0 auto;
    color: $dark-grey;
}

@mixin h2-line-height() {
    h2 {
        line-height: 3rem; /*Adjusting the line height so that the baseline stays and fits with the fonts growth*/
    }
}

@mixin h3-line-height {
    h3 {
        line-height: 3rem; /*Adjusting the line height so that the baseline stays and fits with the fonts growth*/
    }
}