.header > .post-edit-link {
    display: none;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    width: 80%;
    p {
        margin: 1.5rem auto 0;
    }
    .heading-background:first-of-type {
        margin: 0 auto 2.5rem;
    }
}

a {
    color: $dark-grey;
    &:hover {
        color: darken($dark-grey, 10);
    }
}

.heading-background,
.woocommerce-products-header {
    background: $soft-pink;
    padding: 1.75rem 0;
    text-align: center;
}

button {
    border: 0;
}

button[type=submit] {
    display: block;
    cursor: pointer;
    width: 9rem;
    padding: 0.75rem 0;
    background: #FDF5F3;
    border: 0;
    color: #565656;
    text-align: center;
    border-radius: 0.25rem;
    font-size: 1.125rem;
    margin: 0.5rem 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
    &:hover {
        background-color: darken($soft-pink, 5);
    }
}

button[type=submit].button {
    margin: 1.25rem auto 0;
}

.btn, .button, .about_paypal,
input[type=submit],#nf-field-17.ninja-forms-field-nf-element {
    display: block;
    width: 9rem;
    padding: 0.75rem 0;
    background: $soft-pink;
    border: 0;
    color: $dark-grey;
    text-align: center;
    border-radius: 0.25rem;
    font-size: 1.125rem;
    margin: 1.25rem auto 0;
    font-family: Arial, Helvetica, sans-serif;
    &:hover {
        background-color: darken($soft-pink, 5);
    }
}

input[type=text], input[type=email], input[type=tel] {
    border: 1px solid $dark-grey;
    outline: none;
    border-radius: 0.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.875rem, 2.25vw, 1.125rem);
    padding: 0.5rem;
    color: $dark-grey;
    &:focus {
        border: 1px solid darken($dark-grey, 10);
    }
}

.ppom-wrapper .form-control {
    display: block;
    width: 100%;
    padding: 0.75rem;
    line-height: 1.5;
    color: $dark-grey;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid $dark-grey;
    border-radius: 0.25rem;
}

label {
    color: $dark-grey;
    margin-bottom: 0.4rem;
} 

textarea {
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.875rem, 2.25vw, 1.125rem);
    font-weight: 400;
    width: 100%;
    border-radius: 0.25rem;
    color: $dark-grey;
}

.frame-circle {
    border-radius: 50%;
}

.frame-square {
    order: 1;
}

.thumbnail {
    width: calc(150px + 0.2 * (100vw - 650px));
    max-width: 250px;
    min-width: 150px;
    height: calc(150px + 0.2 * (100vw - 650px));
    max-height: 250px;
    min-height: 150px;
    object-fit: cover;
    margin: 0 auto;
}

.thumbnail,
.attachment-woocommerce_thumbnail {
    user-select: none;
}

.underline {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

/* All required - Woo/contact */
.required {
    color: $red-pink;
}

.shop-updates-page {
    margin: 0 1.5rem;
    h2 {
        max-width: 750.8px;
        margin: 0 auto;
    }
}

@mixin container-para {

    .container p {
        width: 100%;
        margin: 1.5rem auto 0;
    }    
}